<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Runner</title>
  <link rel="stylesheet" href="/assets/css/mocha.css" />
  <script src="/assets/scripts/lib/jquery.min.js"></script>
  <script src="/assets/scripts/lib/expect.js"></script>
  <script src="/assets/scripts/lib/mocha.js"></script>
  <script src="/assets/scripts/helpers.js"></script>
  <script src="/assets/scripts/tests.js"></script>
</head>
<body>
  <div id="mocha"></div>
</body>
</html>