.error_content {
	text-align: left;
	padding: 13px 13px 13px 45px;
	background:url("/assets/images/icon_error.png") no-repeat scroll 12px 8px #F8C3C3;
	margin: 0 auto 15px;
	border: 1px solid #E00;
	color: #333;
	width: 646px;
}

.error_content ul {
	margin:0px;
	padding:8px 0 5px 30px;
}

.success_content {
	text-align: left;
	padding: 9px 13px 11px 45px;
	background:url("/assets/images/icon_success.png") no-repeat scroll 12px 8px #D8EFC5;
	margin: 0 auto 15px;
	border: 1px solid #86C31D;
	color: #333;
	font-weight: bold;
	line-height: 20px;
	width: 646px;
}