{% assign layout = 'reseller' %}
<table width="714" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="page_headers">Reseller Management</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table width="455" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <div align="center"><span class="textstyle1">Reseller Account Status:
              <font color="#009900"><strong>Active</strong></font></span></div>
          </td>
        </tr>
      </table>
      <table width="560" border="0" align="center" cellpadding="0" cellspacing="20">
        <tr valign="top">
          <td width="259" bgcolor="#E4E4E4" align="center">
            <table width="259" border="0" cellspacing="1" cellpadding="2" class="pad">
              <tr>
                <td width="74%" height="17" class="textstyle1"><strong>Domains</strong></td>
                <td width="26%">&nbsp;</td>
              </tr>
              <tr bgcolor="#FFFFFF" class="productsRow" onmouseout="rowOutEffect(this)"
                  onmouseover="rowOverEffect(this)">
                <td class="textstyle1"
                    onclick="window.location='/reseller/reseller/reseller_manage_domains/';">Total
                </td>
                <td onclick="window.location='/reseller/reseller/reseller_manage_domains/';">
                  <div align="center"><a href="/reseller/reseller/reseller_manage_domains" class="links">17</a></div>
                </td>
              </tr>
              <tr bgcolor="#FFFFFF" class="productsRow" onmouseout="rowOutEffect(this)"
                  onmouseover="rowOverEffect(this)">
                <td class="textstyle1"
                    onclick="window.location='/reseller/reseller/reseller_manage_domains?status=2';">
                  Pending Approval
                </td>
                <td onclick="window.location='/reseller/reseller/reseller_manage_domains?status=2';">
                  <div align="center"><a href="/reseller/reseller/reseller_manage_domains?status=2" class="links">0</a></div>
                </td>
              </tr>
              <tr bgcolor="#FFFFFF" class="productsRow" onmouseout="rowOutEffect(this)"
                  onmouseover="rowOverEffect(this)">
                <td class="textstyle1"
                    onclick="window.location='/reseller/reseller/reseller_manage_domains?status=4';">
                  Awaiting Information
                </td>
                <td onclick="window.location='/reseller/reseller/reseller_manage_domains?status=4';">
                  <div align="center"><a href="/reseller/reseller/reseller_manage_domains?status=4" class="links">0</a></div>
                </td>
              </tr>
              <tr bgcolor="#FFFFFF" class="productsRow" onmouseout="rowOutEffect(this)"
                  onmouseover="rowOverEffect(this)">
                <td class="textstyle1"
                    onclick="window.location='/reseller/reseller/reseller_manage_domains?status=11';">Due
                  For Renewal
                </td>
                <td onclick="window.location='/reseller/reseller/reseller_manage_domains?status=11';">
                  <div align="center"><a href="/reseller/reseller/reseller_manage_domains?status=11" class="links"><font color="#FF0000">5</font></a></div>
                </td>
              </tr>
            </table>
          </td>
          <td width="259" align="center">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td colspan="2" bgcolor="#E4E4E4" class="none">
                  <table width="259" border="0" cellpadding="2" cellspacing="1">
                    <tr>
                      <td height="17" width="76%" bgcolor="#E4E4E4" class="textstyle1"><strong>Hosting</strong></td>
                      <td height="17" width="24%" bgcolor="#E4E4E4" class="textstyle1">&nbsp;</td>
                    </tr>
                    <tr class="productsRow" onmouseout="rowOutEffect(this)" onmouseover="rowOverEffect(this)">
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_hosting/';">Total
                      </td>
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_hosting/';">
                        <div align="center"><a href="/reseller/reseller/reseller_manage_hosting" class="links">0</a>
                        </div>
                      </td>
                    </tr>
                    <tr class="productsRow" onmouseout="rowOutEffect(this)" onmouseover="rowOverEffect(this)">
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_hosting?status=2';">
                        Awaiting Setup
                      </td>
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_hosting?status=2';">
                        <div align="center"><a href="/reseller/reseller/reseller_manage_hosting?status=2" class="links">0</a></div>
                      </td>
                    </tr>
                    <tr class="productsRow" onmouseout="rowOutEffect(this)" onmouseover="rowOverEffect(this)">
                      <td valign="top" bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_hosting?status=10';">
                        Due For Renewal
                      </td>
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_hosting?status=10';">
                        <div align="center"><a href="/reseller/reseller/reseller_manage_hosting?status=10" class="links"><font color="#FF0000">0</font></a></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr valign="top">
          <td width="259" align="center">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td colspan="2" bgcolor="#E4E4E4" class="none">
                  <table width="259" border="0" cellpadding="2" cellspacing="1">
                    <tr>
                      <td height="17" width="76%" bgcolor="#E4E4E4" class="textstyle1"><strong>Products</strong></td>
                      <td height="17" width="24%" bgcolor="#E4E4E4" class="textstyle1">&nbsp;</td>
                    </tr>
                    <tr class="productsRow" onmouseout="rowOutEffect(this)" onmouseover="rowOverEffect(this)">
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_products/';">Total
                      </td>
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_products/';">
                        <div align="center"><a href="/reseller/reseller/reseller_manage_products" class="links">0</a>
                        </div>
                      </td>
                    </tr>
                    <tr class="productsRow" onmouseout="rowOutEffect(this)" onmouseover="rowOverEffect(this)">
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_products?status=2';">
                        Awaiting Setup
                      </td>
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_products?status=2';">
                        <div align="center"><a href="/reseller/reseller/reseller_manage_products?status=2" class="links">0</a></div>
                      </td>
                    </tr>
                    <tr class="productsRow" onmouseout="rowOutEffect(this)" onmouseover="rowOverEffect(this)">
                      <td valign="top" bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_products?status=10';">
                        Due For Renewal
                      </td>
                      <td bgcolor="#FFFFFF" class="textstyle1" onclick="window.location='/reseller/reseller/reseller_manage_products?status=10';">
                        <div align="center"><a href="/reseller/reseller/reseller_manage_products?status=10" class="links"><font color="#FF0000">0</font></a></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td width="259">&nbsp;</td>
        </tr>
      </table>
      <br/>
      <br/>
      <table width="714" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td class="page_headers">Getting Started</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="625" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td height="30" valign="top">The following manuals have been created to help and guide you through the
                  reseller system.
                </td>
              </tr>
              <tr>
                <td style="padding-left:44px;"><a href="/reseller/docs" class="links" target="_blank">
                  <img src="/assets/reseller/images/pdf_icon.png" width="16" height="16" border="0" style="margin-right:4px; position:relative; top:3px;"/>
                  Reseller Guide 101</a></td>
              </tr>
              <tr>
                <td style="padding-left:44px;"><a href="/reseller/docs" class="links" target="_blank">
                  <img src="/assets/reseller/images/pdf_icon.png" width="16" height="16" border="0" style="margin-right:4px; position:relative; top:3px;"/>
                  Reseller API Guide</a></td>
              </tr>
            </table>
            <br/>
            <br/>
            <br/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
