<!DOCTYPE html>
<html lang="en">
<head>
  <title>Domains and Web Hosting</title>
</head>
<body>
<!-- RESELLER HEADER START -->
<div class="header_wrapper">
  <h1>{{ reseller.name }}</h1>
  <div class="menu">
    <ul>
      <li><a href="/system/home/home" title="Home Page">Home Page</a></li>

      <li><a href="javascript:void(0);" title="Domain Names">Domain Names<!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]>
        <table>
          <tr>
            <td><![endif]-->
        <ul>
          <li><a href="/system/domain/check_domain">Register Domains</a></li>
          <li><a href="/system/domain/check_transfer">Transfer Domains</a></li>
          <li><a href="/system/domain/check_renew">Renew Domains</a></li>
          <li><a href="/system/domain/pricing">Domain Pricing<!--[if gte IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]>
            <table>
              <tr>
                <td><![endif]-->
            <!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>

      <li><a href="javascript:void(0);" title="Hosting">Hosting<!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]>
        <table>
          <tr>
            <td><![endif]-->
        <ul>
          <li><a href="/system/hosting/hosting_register?hosting_type=1">Web Hosting</a></li>
          <li><a href="/system/hosting/hosting_register?hosting_type=2">Email Hosting</a></li>
          <li><a href="/system/hosting/hosting_register?hosting_type=3">DNS Hosting</a></li>
          <li><a href="/system/hosting/hosting_register?hosting_type=4">SSL Certificates</a></li>
          <li><a href="/system/hosting/hosting_register?hosting_type=5">Website Builder</a></li>
          <li><a href="/system/hosting/hosting_register?hosting_type=6">Spam Filter<!--[if gte IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]>
            <table>
              <tr>
                <td><![endif]-->
            <!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>

      <li><a href="javascript:void(0);" title="Domain Names">Account Manager<!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]>
        <table>
          <tr>
            <td><![endif]-->
        <ul>
          <li><a href="/system/home/login">Domain Manager</a></li>
          <li><a href="/system/home/login_hosting">Hosting Manager<!--[if gte IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]>
            <table>
              <tr>
                <td><![endif]-->
            <!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>
    </ul>
  </div>

</div>
<!-- RESELLER HEADER END -->
<link rel="stylesheet" type="text/css" href="/assets/css/system.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/status_boxes.css"/>

<!-- SYRA SYSTEM START -->


<div class="content">
  <h3 class="page_header_system">Domain Name Search</h3>

  <div class="content_indent">
    <div class="search_box_home">
      <div class="big_number_wrapper">
        <div class="big_number_div"><span class="big_number">1.</span> <span class="big_number_desc">Enter a name</span>
        </div>
        <div class="big_number_div"><span class="big_number">2.</span> <span
            class="big_number_desc">Select a domain</span></div>
        <div class="big_number_div"><span class="big_number">3.</span> <span class="big_number_desc">Click Search</span>
        </div>
      </div>
      <form name="form" action="/system/domain/domain_register" method="GET" id="domain"
            style="clear: both; margin:0px;">
        <table border="0" cellspacing="0" align="center">
          <tr>
            <td><strong class="www_bigger">www.</strong></td>
            <td><input name="domain" type="text" value="" size="40"></td>
            <td><a href="javascript:void(0);" onclick="javascript: document.form.submit();" class="button_search"><span
                class="inv">Search</span></a></td>
          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" class="table_checkboxes" align="center" id="tld_table">
          <tr>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".com.au" id=".com.au" checked><label
                for=".com.au">.com.au</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".net.au" id=".net.au"><label
                for=".net.au">.net.au</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".org.au" id=".org.au"><label
                for=".org.au">.org.au</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".id.au" id=".id.au"><label
                for=".id.au">.id.au</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".com" id=".com" checked><label
                for=".com">.com</label></td>
          </tr>
          <tr>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".net" id=".net"><label for=".net">.net</label>
            </td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".co" id=".co"><label
                for=".co">.co</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".asia" id=".asia"><label
                for=".asia">.asia</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".in" id=".in"><label
                for=".in">.in</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".info" id=".info"><label
                for=".info">.info</label></td>
          </tr>
          <tr>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".org" id=".org"><label for=".org">.org</label>
            </td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".tel" id=".tel"><label for=".tel">.tel</label>
            </td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".mobi" id=".mobi"><label
                for=".mobi">.mobi</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".biz" id=".biz"><label for=".biz">.biz</label>
            </td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".mx" id=".mx"><label
                for=".mx">.mx</label></td>
          </tr>
          <tr>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".me" id=".me"><label
                for=".me">.me</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".im" id=".im"><label
                for=".im">.im</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".ws" id=".ws"><label
                for=".ws">.ws</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".so" id=".so"><label
                for=".so">.so</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".tv" id=".tv"><label
                for=".tv">.tv</label></td>
          </tr>
          <tr>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".cc" id=".cc"><label
                for=".cc">.cc</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".co.nz" id=".co.nz" checked><label
                for=".co.nz">.co.nz</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".net.nz" id=".net.nz"><label
                for=".net.nz">.net.nz</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".eu" id=".eu"><label
                for=".eu">.eu</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".be" id=".be"><label
                for=".be">.be</label></td>
          </tr>
          <tr>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".it" id=".it"><label
                for=".it">.it</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".at" id=".at"><label
                for=".at">.at</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".fr" id=".fr"><label
                for=".fr">.fr</label></td>
            <td class="domain_ext_check"><input type="checkbox" name="tld[]" value=".co.uk" id=".co.uk" checked><label
                for=".co.uk">.co.uk</label></td>
            <td colspan="3" class="domain_ext_check"><input type="checkbox" name="tld" value="All" id="All"
                                                            onclick="select_all_tlds(this.checked);"><label for="All">Search
              All</label></td>
          </tr>
        </table>
      </form>
    </div>
    <h4>Register your domain now!</h4>

    <p>Your domain name registration will be processed once the domain application form has been completed. The
      registration process takes only minutes. A confirmation e-mail will be sent confirming domain registered once
      processed.</p>
    <h4>Helpful tips when registering a domain</h4>
    <ul>
      <li>The only characters allowed are letters, digits and a hyphen (-)</li>
      <li>Spaces are not allowed</li>
      <li>The name should be between 3 and 63 characters long</li>
      <li>www. is not actually part of the domain name</li>
      <li>You can buy as many domain names as you wish</li>
      <li>Domain names are NOT cAsE sEnSiTiVe - so abc.com is the same as ABC.com</li>
    </ul>
    </form>
  </div>
  <script type="text/javascript">
    function select_all_tlds(checked) {
      if (!document.getElementsByTagName) {
        return;
      }
      var inputs = document.getElementById('tld_table').getElementsByTagName('input');
      var count = inputs.length;
      for (var i = 0; i < count; i++) {
        var obj = inputs[i];
        obj.checked = checked;
      }
    }
  </script>
</div>
<script type="text/javascript">
  window.onload = function () {

  }
</script>
<!-- SYRA SYSTEM END -->
<!-- RESELLER FOOTER START -->
<div class="footer_wrapper">

  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left">{{ reseller.name }} | {{ reseller.domain }}</td>
      <td align="right">Reseller Panel</td>
    </tr>
  </table>

</div>
<!-- RESELLER FOOTER END -->
</body>
</html>