{% assign layout = 'members' %}
<table border="0" align="center" class="member_internal_table" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="main_column1">
  <div class="member_left_nav">
    <table border="0" cellspacing="0" class="member_left_table_gray">
      <tbody>
      <tr>
        <th class="title_th"><a href="/members/member/member_account_details">My
          Account</a></th>
      </tr>
      <tr>
        <td class="main_gray_td">
          <span style="padding-left: 16px"><strong>My Credit:</strong> <a
              href="/members/member/member_invoice_reports" class="credit_price">$ 0.00 AUD</a></span>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gray_table_inside">
            <tbody>
            <tr>
              <td><img src="/images/top_gray_rounded.png" width="177" height="7"></td>
            </tr>
            <tr>
              <td class="gray_td_content">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                  <tr>
                    <td><strong>Domain Names:</strong></td>
                    <td><a href="/members/member/member_manage_domains" class="link_number">2</a></td>
                  </tr>
                  <tr>
                    <td><strong>Hosting Accounts:</strong></td>
                    <td><a href="/members/member/member_manage_hosting" class="link_number">0</a></td>
                  </tr>
                  <tr>
                    <td><strong>Business Products:</strong></td>
                    <td><a href="/members/member/member_manage_products" class="link_number">0</a></td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td><img src="/images/bottom_gray_rounded.png" width="177" height="7"></td>
            </tr>
            </tbody>
          </table>
          <ul class="list_gray">
            <li><a href="/members/home/home">My Home Page</a></li>
            <li><a href="/members/member/member_account_details">Account Details</a></li>
            <li><a href="/members/member/member_invoice_reports">Invoices &amp; Reports</a>
            </li>
            <li><a href="/members/member/member_view_notifications">View Notifications</a>
            </li>
            <li><a href="/members/member/member_credit_card">Setup Auto Renewal</a></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
    <table border="0" cellspacing="0" class="member_left_table">
      <tbody>
      <tr>
        <th class="title_th">Domain Names</th>
      </tr>
      <tr>
        <td><a href="/members/member/member_manage_domains">Manage Domains</a></td>
      </tr>
      <tr>
        <td><a href="/members/member/member_domain_register">Register Domains</a></td>
      </tr>
      <tr>
        <td><a href="/members/member/member_domain_renew_search">Renew Domains</a></td>
      </tr>
      <tr>
        <td><a href="/members/member/member_domain_transfer_search">Transfer Domains</a>
        </td>
      </tr>
      <tr>
        <td><a href="/members/member/member_add_domain">Add Domains</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</td>
<td class="main_column2"></td>
<td class="main_column3">

  <div style="width:100%; height: 42px; margin-bottom: 26px; border-bottom:1px solid #D2D5D8">

    <a href="/members/member/member_account_details" title="View Account Details"><img src="../../images/top_icon.png"
                                                                                        style="float: left; margin-right: 12px"></a>

    <span class="text_style3">Welcome, <a href="/members/member/member_account_details">FirstName <!-- LastName--></a></span><br>

    <span>Member ID: M937696</span>

  </div>

  <a href="/members/home/logout" class="logout_button">Log Out</a>

  <h3 class="page_header">My Home Page</h3>


  <script type="text/javascript">
    var num_domains = 1;
    var num_hosting = 0;
    var num_products = 0;
    function toggle_select_all(checked, type) {
      var checkbox_class = '';
      if (type == 'domain') {
        for (var i = 1; i <= num_domains; i++) {
          document.getElementById('domain_' + i).checked = checked;
        }
      } else if (type == 'hosting') {
        for (var i = 1; i <= num_hosting; i++) {
          document.getElementById('hosting_' + i).checked = checked;
        }
      } else if (type == 'product') {
        for (var i = 1; i <= num_products; i++) {
          document.getElementById('product_' + i).checked = checked;
        }
      }
    }
    function check_select_all(element, type) {
      if (!element.checked) {
        if (type == 'domain') {
          document.getElementById('domain_select_all').checked = false;
        } else if (type == 'hosting') {
          document.getElementById('hosting_select_all').checked = false;
        } else if (type == 'product') {
          document.getElementById('product_select_all').checked = false;
        }
      }
    }
  </script>
  <div class="tip_box">
    <strong style="display:block; margin-bottom: 5px">Welcome to the Domain Manager</strong>
    <span>Here you can manage all your domains, hosting and products and enjoy a streamlined domain name registration process. Access to invoices, payments and renewals can be made here and much more.</span>
  </div>
  <form action="/members/member/member_domain_renew_search_process" method="POST">
    <input type="hidden" name="submitted" value="TRUE">
    <table width="100%" border="0" cellspacing="0" class="table_style1">
      <tbody>
      <tr>
        <td colspan="4" class="td_style1">Domains Due For Renewal</td>
      </tr>
      <tr>
        <th class="first">Domain</th>
        <th width="125">Expiry</th>
        <th width="125">Status</th>
        <th width="62" style="text-align:center; padding-left: 5px">
          <input id="domain_select_all" name="domain_renew_all" value="1" type="checkbox" onclick="toggle_select_all(this.checked, 'domain')">
        </th>
      </tr>
      <tr class="tr_highlight">
        <td class="first text_style2"><a href="/members/member/member_domain_details?domain_id=633988" class="link_style1">nodeapp.com</a></td>
        <td>21 Jul 2012</td>
        <td class="text_style1"><span title="Renewal Due">Renewal Due</span></td>
        <td style="text-align: center">
          <input id="domain_1" onclick="check_select_all(this, 'domain')" class="domain_renew_checkbox_class" type="checkbox" name="domains" value="633988"></td>
      </tr>
      </tbody>
    </table>
    <p align="right"><input name="Submit" type="submit" class="button_form" value="Renew Domains"></p>
  </form>


  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td valign="top" width="44%">
        <table width="100%" border="0" cellspacing="0" class="table_style2">
          <tbody>
          <tr>
            <td colspan="5" class="td_style1"><span class="loginTrackerTitle">Login Tracker</span></td>
          </tr>
          <tr>
            <th class="first">You last logged in:</th>
          </tr>
          <tr>
            <td class="first">04 Sep 2010, 07:28AM</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td width="3%">&nbsp;</td>
      <td valign="top" width="46%">
        <table width="100%" border="0" cellspacing="0" class="table_style2">
          <tbody>
          <tr>
            <td colspan="5" class="td_style1"><span class="securityTitle">Security</span></td>
          </tr>
          <tr>
            <th class="first"><a href="/members/member/member_update_login">Change your Password</a></th>
          </tr>
          <tr>
            <td class="first">Keep your account secure at all times.</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</td>
</tr>
</tbody>
</table>